In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('data_cleaned.csv')

In [41]:
tmp = pd.DataFrame(df.groupby('Month')['amount'].sum())

In [42]:
amt = tmp.amount.values
months = df.Month.unique()
d = {'Month': months, 'Amount': amt}
tmp =  pd.DataFrame(d)

In [43]:
tmp

   Month   Amount
0    SEP  1466.69
1    OCT  1674.53
2    JUL  1217.48
3    AUG   339.80
4    DEC  1184.05
5    JAN   893.75
6    NOV   366.88
7    JUN  1536.57
8    FEB  1042.07
9    MAR  1356.11
10   APR   997.86
11   MAY  2090.34